In [32]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_val_predict
import numpy as np

In [33]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_sample_submission = pd.read_csv('sample_submission.csv')

In [34]:
text = df_train['text'].values
target = df_train['target'].values
vectorizer = CountVectorizer(analyzer = "word")
freq_texts = vectorizer.fit_transform(text)

model = MultinomialNB()
model.fit(freq_texts, target)

MultinomialNB()

In [35]:
resultados = cross_val_predict(model, freq_texts, target, cv = 4)
metrics.accuracy_score(target, resultados)

0.73532116117168

In [36]:
tests = df_test['text'].values
freq_tests = vectorizer.transform(tests)
resultado_tests = model.predict(freq_tests)

In [37]:
df_resultado = df_test['id']
df_resultado = pd.DataFrame(df_resultado)
df_resultado['target'] = resultado_tests
df_resultado

         id  target
0         0       1
1         2       1
2         3       1
3         9       1
4        11       1
...     ...     ...
3258  10861       1
3259  10865       1
3260  10868       1
3261  10874       1
3262  10875       1

[3263 rows x 2 columns]

In [30]:
df_resultado.to_csv('submission.csv', index=False)