In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import metrics
import numpy as np 
import re

In [5]:
#substitui valores NaN pelos valores mais frequente da coluna
def replace_nan(df):
        df['Age'] = df['Age'].fillna(int(df['Age'].mode()))
        df['SibSp'] = df['SibSp'].fillna(int(df['SibSp'].mode()))
        df['Parch'] = df['Parch'].fillna(int(df['Parch'].mode()))
        df['Fare'] = df['Fare'].fillna(int(df['Fare'].mode()))
        return df

In [6]:
df_train = pd.read_csv('train.csv')
df_dummies = pd.get_dummies(df_train[["Embarked", "Sex"]])
df_train = pd.concat([df_train, df_dummies], axis=1)
df_train = df_train.drop(columns=['Name','Sex','Embarked'])
df_train = replace_nan(df_train)
df_train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked_C       0
Embarked_Q       0
Embarked_S       0
Sex_female       0
Sex_male         0
dtype: int64

In [20]:
df_train['Cabin'] = df_train['Cabin'].fillna(0)
r = re.compile(r'\D')
for i in range(len(df_train)):
        # Cabin
        df_train['Cabin'].iloc[i] = re.sub(r'[A-G]','', str(df_train['Cabin'].iloc[i]))
        df_train['Cabin'].iloc[i] = re.sub(r' ','', str(df_train['Cabin'].iloc[i]))
        try:
                df_train['Cabin'].iloc[i] = int(df_train['Cabin'].iloc[i]) 
        except:
                df_train['Cabin'].iloc[i] = 0

        #Ticket
        df_train['Ticket'].iloc[i] = r.sub('', str(df_train['Ticket'].iloc[i]))
        df_train['Ticket'].iloc[i] = re.sub(r'[A-G]','', str(df_train['Ticket'].iloc[i]))
        df_train['Ticket'].iloc[i] = re.sub(r' ','', str(df_train['Ticket'].iloc[i]))
        try:
                df_train['Ticket'].iloc[i] = int(df_train['Ticket'].iloc[i]) 
        except:
                df_train['Ticket'].iloc[i] = 0

df_train.sample(10)

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
715,716,0,3,19.0,0,0,348124,7.6500,73,0,0,1,0,1
553,554,1,3,22.0,0,0,2620,7.2250,0,1,0,0,0,1
4,5,0,3,35.0,0,0,373450,8.0500,0,0,0,1,0,1
23,24,1,1,28.0,0,0,113788,35.5000,6,0,0,1,0,1
729,730,0,3,25.0,1,0,23101271,7.9250,0,0,0,1,1,0
724,725,1,1,27.0,1,0,113806,53.1000,8,0,0,1,0,1
522,523,0,3,24.0,0,0,2624,7.2250,0,1,0,0,0,1
630,631,1,1,80.0,0,0,27042,30.0000,23,0,0,1,0,1
591,592,1,1,52.0,1,0,36947,78.2667,20,1,0,0,1,0
876,877,0,3,20.0,0,0,7534,9.8458,0,0,0,1,0,1

In [8]:
# dividindo os dados em treino e teste:
x_train, x_test, y_train, y_test = train_test_split(df_train.drop('Survived', axis=1), df_train['Survived'], test_size=0.3)

In [9]:
# Inst√¢ncia o objeto classificador:
clf = DecisionTreeClassifier()

In [10]:
# Treinando o modelo de arvore de decis√£o:
clf = clf.fit(x_train,y_train)

In [11]:
resultado = clf.predict(x_test)
resultado

array([0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0])

In [12]:
from sklearn import metrics
print(metrics.classification_report(y_test,resultado))

              precision    recall  f1-score   support

           0       0.81      0.79      0.80       165
           1       0.67      0.70      0.69       103

    accuracy                           0.75       268
   macro avg       0.74      0.74      0.74       268
weighted avg       0.76      0.75      0.75       268

In [13]:
## prevendo dados de teste
df_test = pd.read_csv('test.csv')
df_dummies = pd.get_dummies(df_test[["Embarked", "Sex"]])
df_test = pd.concat([df_test, df_dummies], axis=1)
df_test = df_test.drop(columns=['Name','Sex','Embarked'])

df_test['Age'] = df_test['Age'].fillna(int(df_test['Age'].mode()[0]))
df_test['Fare'] = df_test['Fare'].fillna(int(df_test['Fare'].mode()))
df_test.isnull().sum()

PassengerId      0
Pclass           0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          327
Embarked_C       0
Embarked_Q       0
Embarked_S       0
Sex_female       0
Sex_male         0
dtype: int64

In [21]:
df_test['Cabin'] = df_test['Cabin'].fillna(0)
r = re.compile(r'\D')
for i in range(len(df_test)):
        # Cabin
        df_test['Cabin'].iloc[i] = re.sub(r'[A-G]','', str(df_test['Cabin'].iloc[i]))
        df_test['Cabin'].iloc[i] = re.sub(r' ','', str(df_test['Cabin'].iloc[i]))
        try:
                df_test['Cabin'].iloc[i] = int(df_test['Cabin'].iloc[i]) 
        except:
                df_test['Cabin'].iloc[i] = 0

        #Ticket
        df_test['Ticket'].iloc[i] = r.sub('', str(df_test['Ticket'].iloc[i]))
        df_test['Ticket'].iloc[i] = re.sub(r'[A-G]','', str(df_test['Ticket'].iloc[i]))
        df_test['Ticket'].iloc[i] = re.sub(r' ','', str(df_test['Ticket'].iloc[i]))
        try:
                df_test['Ticket'].iloc[i] = int(df_test['Ticket'].iloc[i]) 
        except:
                df_test['Ticket'].iloc[i] = 0

df_test.sample(10)

,PassengerId,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked_C,Embarked_Q,Embarked_S,Sex_female,Sex_male
9,901,3,21.0,2,0,448871,24.1500,0,0,0,1,0,1
330,1222,2,48.0,0,2,33112,36.7500,0,0,0,1,1,0
305,1197,1,64.0,1,1,112901,26.5500,26,0,0,1,1,0
146,1038,1,21.0,0,0,17463,51.8625,46,0,0,1,0,1
71,963,3,21.0,0,0,349211,7.8958,0,0,0,1,0,1
117,1009,3,1.0,1,1,9549,16.7000,6,0,0,1,1,0
280,1172,3,23.0,0,0,315085,8.6625,0,0,0,1,1,0
379,1271,3,5.0,4,2,347077,31.3875,0,0,0,1,0,1
308,1200,1,55.0,1,1,12749,93.5000,69,0,0,1,0,1
375,1267,1,45.0,0,0,17608,262.3750,0,1,0,0,1,0

In [16]:
resultado = clf.predict(df_test.dropna())

In [17]:
df_teste = df_test.dropna()
out = {'PassengerId' : [df_teste['PassengerId'].iloc[x] for x in range(len(df_teste))],
        'Survived': list(resultado)
        }
df_out = pd.DataFrame(out)

In [ ]:
df_out.to_csv('resultado.csv', index=False)